@page "/projects"
@inject ILogger<ProjectList> Logger
@inject HttpWebApiClient WebApiClient

<GenericPage Title="Projects"
             Loader="@LoadProjects"
             Items="@Projects"
             Icon="vuestic-iconset vuestic-iconset-statistics"
             NewText="Initier un projet"
             ViewType="ViewType.AsCard"
             AddAction="@ShowProjectForm">
    <Loading>
        <h1>Loading...</h1>
    </Loading>
    <Empty>
        Vous n'avez pas encore de projets en cours.
    </Empty>
    <ItemTemplate Context="item">
        <div class="flex xs12 sm6 lg4 xl3">
            <VaCard stripe="danger" title="@item.Name">
                <BodyContent>
                    <div class="col">
                        Date de début: <strong>@item.StartDate</strong>
                    </div>
                    <div class="col">
                        Durée: <strong>@item.Duration</strong>
                    </div>
                    <VaSeparator />
                    @item.Description
                </BodyContent>
            </VaCard>
        </div>
    </ItemTemplate>
</GenericPage>

@code{

    private IEnumerable<ProjectDto> Projects { get; set; } = null!;

    private async Task<IEnumerable<ProjectDto>> LoadProjects()
    {
        var result = new List<ProjectDto>();
        await WebApiClient.CreateRequest("api/project/list")
            .OnOK<ICollection<ProjectDto>>(r => result = r!.ToList())
            .GetAsync();

        return result;
    }

    private void ShowProjectForm()
    {
        
    }
    
    protected override async Task OnInitializedAsync()
    {
        Projects = await LoadProjects();
    }
}
